.container {
    display: flex;
    justify-content: space-evenly;
    .meals, .desserts {
        text-align: center;
        mat-card {
            cursor: pointer;
            margin-bottom: 10px;
            width: 300px;
        }
    }
}

form {
    background-color: gray;
}

.search {
    display: flex;
    align-items: center;
}