<form action="" #mealForm="ngForm">
    <div class="search">
        <mat-form-field style="padding:16px">
            <mat-select placeholder="Select a category..." name="selectedCategory" [(ngModel)]="selectedCategory" (selectionChange)="search()">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.strCategory">{{ category.strCategory }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="container" *ngIf="!selectedCategory">
        <div class="meals">
            <h2>Meals</h2>
            <div *ngFor="let meal of americanMeals" [routerLink]="['/meal-details', meal.idMeal]">
                <mat-card>
                    <div>{{ meal.strMeal }}</div>
                    <div>{{ meal.strArea }}</div>
                    <img [src]="meal.strMealThumb" width="200" />
                </mat-card>
            </div>
        </div>
        <div class="desserts">
            <h2>Desserts</h2>
            <div *ngFor="let dessert of desserts" (click)="goToMealDetails(dessert.idMeal)">
                <mat-card>
                    <div>{{ dessert.strMeal }}</div>
                    <div>{{ dessert.strArea }}</div>
                    <img [src]="dessert.strMealThumb" width="200" />
                </mat-card>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="selectedCategory">
        <div class="meals">
            <h2>Meals</h2>
            <div *ngFor="let meal of selectedMeals" [routerLink]="['/meal-details', meal.idMeal]">
                <mat-card>
                    <div>{{ meal.strMeal }}</div>
                    <img [src]="meal.strMealThumb" width="200" />
                </mat-card>
            </div>
        </div>
    </div>
</form>